<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<!-- <body background="image/background.jpg"> -->
<body>
  <style>
  #valve-controls {
    margin: 12px 0px 20px 0px;
    border: 1px solid #ddd;
    padding: 12px 0px 30px 0px;
    border-radius: 20px;
  }

  </style>
  <script>
    window.loadCompleted = false;
  </script>

  <% include ../partials/nav.ejs %>
  <!-- <main class="cd-main-content"> -->
    <!-- <div class="cd-fixed-bg cd-bg-1"> -->

  <div class="jumbotron" style="background-color: transparent;">
    <center>
    <div style="width: 90%">
      <div class="row align-items-center justify-content-center">
        <div style="color: #000;"><b>แผงควบคุมวาล์วน้ำ</b></div>
        <div id="valve-controls" class="input-group" style="background-color: white; margin: 0px 15px 0px 15px;">
          <div class="col-sm-6">
            <center>
              <div><b>วาล์ว 1</b></div>
              <input type="checkbox" name="valve1"  class="valve-checkbox" data-on-text="เปิด" data-off-text="ปิด" data-on-color="success" data-off-color="danger" checked>
            </center>
          </div>
          <div class="col-sm-6">
            <center>
              <div><b>วาล์ว 2</b></div>
              <input type="checkbox" name="valve2" class="valve-checkbox" data-on-text="เปิด" data-off-text="ปิด" data-on-color="success" data-off-color="danger" checked>
            </center>
          </div>
        </div>
      </div>
    </div>
  </center>
  </div>
  <div class="row align-items-center justify-content-center" style="margin: 30px 0px 0px 0px; padding: 0px; width: 100%">
      <iframe id="graf" src="http://www.sansara9smartfarm.com:3000/dashboard/db/farm?refresh=10s&orgId=1&from=now-15m&to=now" width="1300" height="1250" frameborder="0" style="margin: 0px; padding: 0px;"></iframe>
  </div>
<!-- </div> -->
<!-- </main> -->

  <script>
    $(document).ready(function(){
      for(let i = 1; i < 5; i++){
        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
           if(this.responseText == "ON"){
             $('input[name="valve'+i+'"]').bootstrapSwitch('state', true);
           }else{
             $('input[name="valve'+i+'"]').bootstrapSwitch('state', false);
           }
           if(i == 2){
             for(let i = 1; i < 3; i++){
               $('input[name="valve'+i+'"]').on('switchChange.bootstrapSwitch', function(event, state) {
                 var xhttp2 = new XMLHttpRequest();
                 xhttp2.onreadystatechange = function() {
                   if (this.readyState == 4 && this.status == 200) {
                    if(this.responseText == "ok"){
                      console.log("valve", i, (state?"ON":"OFF"));
                    }
                   }
                 };
                 xhttp2.open("GET", "api/insert/valve_status/"+i+"/"+(state?"ON":"OFF"), true);
                 xhttp2.send();
               });
             }
           }
          }
        };
        xhttp1.open("GET", "api/get/valve_status/"+i, true);
        xhttp1.send();
      }

      var top = $("#graf").position().top
      var h = $(window).height()
      $("#graf").css('height', h - top)
    });
  </script>

</body>
</html>
